.BgContainer {


  width: calc(100% - 90px);
  height: calc(100vh - 225px);
  background-color: transparent;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  /* background-color: blue; */
  /* border: 1px solid rgba(0, 0, 0, 0.12); */
  /* height: calc(100% - 125px); */
}

.BgColumn {
  width: 25px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  background-color: transparent;
}

.BgRow {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  background-color: transparent;
}

.colsDiv {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  position: absolute;
  
}
