.BgContainer {
  position: absolute;
  top: calc(75px + 125px);
  left: 75px;
  width: calc(100% - 85px);
  height: calc(100% - (85px + 125px));
  background-color: transparent;
  z-index: -1;
  overflow: hidden;
  /* height: calc(100% - 125px); */
}

.BgColumn {
  width: 25px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  background-color: transparent;
}

.BgRow {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  background-color: transparent;
}

.colsDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}
