@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --Primary: #ff9e00;
  --Dark: #cf6e00;
  --Light: #ffb718;
  --TextDark: #131313;
  --TextMuted: #888888;
  --borderStyle: 1px solid rgba(0, 0, 0, 0.12);

}

.editorHeader{
    height: 43px !important;
}

/*
Changing height on here will affect zone loading
Be sure to edit the save function yValue to acomidate
*/
.editorCardTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cardToolbar{
    padding-left: 5px !important;
    height: 30px;
    min-height: 0px !important;
}

.editorCard{
    
    width: calc(100% - 90px);
    height: calc(100vh - 100px);
    margin-top: 75px;
    margin-left: 75px;
    overflow: hidden;
    background-color: transparent;
}

.editorContent {
    padding: 0px !important;
    overflow: hidden;

}

