# API
api/build
api/node_modules
api/db/*
!api/db/doNotRemove

# SCHEDULER
scheduler/node_modules
scheduler/build

# MOCKER
mocker/node_modules
mocker/build

# CHECKED-WEB
checked-web/node_modules
checked-web/*.log

# MISC
*.DS_Store
*.env
*.exe
*.log