body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  outline-width: 0px !important;
  outline: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==== GLOBAL ==== */

.dashContainer {
  margin-right: 15px;
  margin-left: 75px;
  padding-top: 85px;
}

.mutedBlack {
  opacity: 0.85 !important;
}

.fontMontserrat {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 2px !important;
  margin-bottom: -10px !important;
  font-weight: 600 !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  font-size: 200% !important;
  letter-spacing: 6px !important;
  opacity: 0.9 !important;
}

.tiledBackground {
  background-image: url('./media/spikes.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

.background {
  background-image: url('./media/spikes.png');
  background-size: 300px 300px;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.backgroundDark {
  background-image: url('./media/spikesDark.png');
  background-size: 300px 300px;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.vcenterParent {
  position: relative;
}

.vcenterChild {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scrollCard {
  max-height: 790px;
  overflow-y: scroll;
}

.styledScrollBar::-webkit-scrollbar {
  width: 5px;
}

.styledScrollBar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.styledScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #313131;
}

/* ===== MENUBAR ===== */

.topBarLogo {
  width: 30px;
  height: 30px;
  transform: translateX(5px);
  border-radius: 5px;
}

.drawer {
  margin-top: 64px;
  transition: cubic-bezier(0.6, -0.1, 0.735, 0.045) 0.4s;
}

.drawerOpen {
  width: 225px;
}

.drawerClosed {
  overflow-x: hidden;
  width: 60px;
}

.menuIcon {
  opacity: 0.9;
}

.menuText {
  white-space: nowrap;
}

.topBar {
  background: #ffffff;
}

.dimmer {
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  position: fixed;
  z-index: 999;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 500ms;
}

.fadeIn {
  visibility: visible;
  opacity: 0.2;
  transition: visibility 0s linear 0s, opacity 300ms;
}


/* ===== LOGIN ===== */

.logo {
  width: 100%;
  border-radius: 10%;
}

.signInCard {
  transition: 6s;
  animation: slideDown 1.25s
}

@keyframes slideDown {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.loaderDiv {
  min-height: 45px;
  transform: rotate(-90deg) translateY(-4px);
}

.loginLoader {
  color: #ff9e00;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


/* ===== DASHBOARD ===== */

.dashCard {
  height: 100%;
  display: flex;
}

.MuiTab-root.Mui-selected {
  background-color: transparent !important;
}

/* ===== ZONE TABS ===== */

/* parent */
.zoneVisContainer { 
  background-color: transparent;
  position: relative;
  height: calc(100vh - 214px);
}
/* child */
.zoneVisZone {
  position: absolute;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.zoneVisZone:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
}

.zoneName {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assembleActive {
  color: #ff9e00;
  animation: wiggle 0.75s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(-20deg)
  }
  50% {
    transform: rotate(20deg)
  }
  100% {
    transform: rotate(-20deg);
  }
}

.dashOverviewIcon {
  opacity: 0.8;
  height: 30px;
  width: 30px !important;
  margin-top: 10px !important;
}

.dashMemberList {
  position: absolute !important;
  right: 0;
  top: 0;
  height: calc(100vh - 235px) !important;
  box-shadow: -5px 0 5px -5px rgba(255, 255, 255, 0.651);
}

.dashMemberHeight {
  max-height: calc(100vh - 280px) !important;
}


.dashOverviewButton {
  min-width: 155px !important;
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

.iconBtnFilled {
  transition: 0.5s !important;
  transform: scale(0.8);
}

.iconBtnFilled:hover{
  transform: scale(0.9);
}

/* ===== MAP EDITOR ===== */

.mainEditor {
  width: calc(100% - 90px);
  height: calc(100vh - 214px);
  background-color: transparent;
  border: none;
  position: absolute;
  overflow: hidden;
}


/* ===== MEMBER MANAGEMENT ===== */ 

.memberManager {
  min-height: 700px;
  max-height: calc(100vh - 25vh);
}

.memberList { 
  max-height: calc(100vh - 25vh);
  overflow-y: scroll;
}

.memberList::-webkit-scrollbar {
  width: 5px;
}

.memberList::-webkit-scrollbar-track {
  border-radius: 10px;
}

.memberList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #313131;
}

.memberAvatar {
  min-height: 100px;
  min-width: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.memberDeleteBtn {
  background-color: #e63c30 !important;
  color: #fff !important;
}

.memberDeleteBtn:hover {
  background-color: #b82a20 !important;
}

/* ===== ZONES ===== */

.zoneIcon {
  filter: invert(1);
  opacity: 1 !important;
  width: 35px;
  height: 35px;
  border-radius: 100% !important;
  color: rgb(221, 221, 221);
  padding-top: 1px;
  transform: translate(-4px, -3px);
}

.zoneBigIcon {
  height: 70px;
  width: 70px !important;
  margin-bottom: 10px;
  color: white;
  border-radius: 100%;
  padding: 10px;
}

.tempGradient {
  background: rgb(233, 101, 83);
  background: linear-gradient(173deg, rgba(233, 101, 83, 1) 0%, rgba(144, 78, 149, 1) 100%);
}

.lightGradient {
  background: rgb(242, 201, 76);
  background: linear-gradient(173deg, rgba(242, 201, 76, 1) 0%, rgba(242, 153, 74, 1) 100%);
}

.userGradient {
  background: rgb(28, 181, 224);
  background: linear-gradient(173deg, rgba(28, 181, 224, 1) 0%, #4545ad 100%);
}

.chartLabel {
  fill: #818181;
  font-weight: bold;
}

.apexcharts-tooltip {
  background: #f3f3f3d5;
  color: #131313;
}
=======
/* ===== COMMENT BOX ===== */

.commentBox{
    width: 100%;
    height: 100%;
    resize: none;
    border: 0px none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 10px;
}

.commentItem{
  width: 100%;
}

.commentList { 
  max-height: calc(100vh - 38vh);
  overflow-y: scroll;
}

.commentList::-webkit-scrollbar {
  width: 5px;
}

.commentList::-webkit-scrollbar-track {
  border-radius: 10px;
}

.commentList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #313131;
}