body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  outline-width: 0px !important;
  outline: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==== GLOBAL ==== */

.dashContainer {
  margin-right: 15px;
  margin-left: 72px;
  padding-top: 85px;
}

.mutedBlack {
  opacity: 0.85 !important;
}

.fontMontserrat {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 2px !important;
  margin-bottom: -10px !important;
  font-weight: 600 !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  font-size: 200% !important;
  letter-spacing: 6px !important;
  opacity: 0.9 !important;
}

.tiledBackground {
  background-image: url('./media/spikes.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

.background {
  background-image: url('./media/spikes.png');
  background-size: 300px 300px;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.backgroundDark {
  background-image: url('./media/spikesDark.png');
  background-size: 300px 300px;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.vcenterParent {
  position: relative;
}

.vcenterChild {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ===== MENUBAR ===== */

.topBarLogo {
  width: 30px;
  height: 30px;
  transform: translateX(5px);
  border-radius: 5px;
}

.drawer {
  margin-top: 64px;
  transition: cubic-bezier(0.6, -0.1, 0.735, 0.045) 0.4s;
}

.drawerOpen {
  width: 225px;
}

.drawerClosed {
  overflow-x: hidden;
  width: 60px;
}

.menuIcon {
  opacity: 0.9;
}

.menuText {
  white-space: nowrap;
}

.topBar {
  background: #ffffff;
}

.dimmer {
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  position: fixed;
  z-index: 999;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 500ms;
}

.fadeIn {
  visibility: visible;
  opacity: 0.2;
  transition: visibility 0s linear 0s, opacity 300ms;
}


/* ===== LOGIN ===== */

.logo {
  width: 100%;
  border-radius: 10%;
}

.signInCard {
  transition: 6s;
  animation: slideDown 1.25s
}

@keyframes slideDown {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.loaderDiv {
  min-height: 45px;
  transform: rotate(-90deg) translateY(-4px);
}

.loginLoader {
  color: #ff9e00;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* ===== DASHBOARD ===== */

.dashCard {
  height: 100%;
  display: flex;
}

.MuiTab-root.Mui-selected {
  background-color: transparent !important;
}

/* parent */
.zoneVisContainer { 
  background-color: transparent;
  position: relative;
}
/* child */
.zoneVisZone {
  position: absolute;
  z-index: 101;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ===== MAP EDITOR ===== */

.mainEditor {
  width: calc(100% - 90px);
  height: calc(100vh - 175px);
  background-color: transparent;
  border: none;
  position: absolute;
  overflow: hidden;
}